<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHZHAZkInD6DuCUrQJA_QqbsCJduwmvs8</string>
	<key>GCM_SENDER_ID</key>
	<string>236551570656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shekach.Map.tgonea</string>
	<key>PROJECT_ID</key>
	<string>tgonea-e92aa</string>
	<key>STORAGE_BUCKET</key>
	<string>tgonea-e92aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236551570656:ios:abb8c49fde1efd81c57c85</string>
</dict>
</plist>